<!DOCTYPE html>
<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>GitRemindApp</title>

    <link href="/css/ionic.app.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/cal-heatmap/cal-heatmap.css">
    <script src="/lib/ionic/js/ionic.bundle.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="lib/d3/d3.js"></script>
    <script type="text/javascript" src="lib/cal-heatmap/cal-heatmap.js"></script>
    <script src="js/app.js"></script>
    <script src="cordova.js"></script>
  </head>

  <body>
      
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/connect.html" type="text/ng-template">
      <ion-view view-title="Connect to GitHub">
        <ion-content>
          <form name="usrForm" novalidate ng-submit="connect(user)">
            <div class="list">
                <div class="padding-top padding-left"><p>Enter your GitHub Username below to connect.</p></div>
                <label class="item item-input">
                <input name="name" type="text" placeholder="Username" ng-model="user.name" required>
                </label>
                <div class="padding">
                <button type="submit" class="button button-block button-royal button-outline" ng-disabled="usrForm.$invalid">Connect!</button>
                    <div ng-show="usrForm.$submitted || usrForm.name.$touched">
                    <p ng-show="usrForm.name.$error.required">Username is required!</p>
                    </div>
                </div>
            </div>
          </form>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/tabs.html" type="text/ng-template">
      <ion-view>
        <ion-tabs class="tabs-icon-bottom tabs-royal">
          <ion-tab title="Home" icon="ion-home" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>
          <ion-tab title="Settings" icon="ion-android-settings" href="#/tab/settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
          </ion-tab>
        </ion-tabs>

      </ion-view>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view view-title="Home">
        <ion-content padding="true">
            <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()">
            </ion-refresher>
            <div class="row">
                <div class="col"><h3><center>Current Streak</center></h3></div>
            </div> 
            <div class="row">
                <div class="col col-center"><h1><center>{{stats.streak}}</center></h1></div>
            </div>
            <div class="row">
                <div class="col col-center">
                    <h4>Commits today: {{stats.commits_today}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-center">
                    <h4>Commits in the last year: {{stats.commits_year}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Contribution Graph</h5>
                    <div id="cal-heatmap"></div>
                    <script type="text/javascript">
	                   var cal = new CalHeatMap();
	                   cal.init({});
                    </script>
                </div>
            </div>
            <div class="row row-bottom">
                <div class="col">
                    <center>Pull down to refresh stats</center>
                </div>
            </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/settings.html" type="text/ng-template">
      <ion-view view-title="Settings">
        <ion-content>
            <ion-list>
                <ion-item>
                Other item 1
                </ion-item>
                <ion-item>
                Other item 2
                </ion-item>
                <ion-item>
                    <button class="button button-block button-royal button-outline" ng-click="disconnect()">Disconnect!</button>
                </ion-item>
            </ion-list>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
